@model BasicEducationDepartmentWeb.Models.DTO.MostPickReasonsDTO


<tr>
    <td>Academic Concerns</td>
    <td>@Model.AcademicConcernTSCategory</td>
    <td>
        @Model.AcademicConcernTWSubmitted
    </td>
</tr>

<tr>
    <td>Mood/Behaviors</td>
    <td>@Model.MoodBehaviorTSCategory</td>
    <td>
        @Model.MoodBehaviorTWSubmitted
    </td>
</tr>

<tr>
    <td>Relationship</td>
    <td>@Model.RelationshipTSCategory</td>
    <td>
        @Model.RelationshipTWSubmitted
    </td>
</tr>

<tr>
    <td>Home Concerns</td>
    <td>@Model.HomeConcernTSCategory</td>
    <td>
        @Model.HomeConcernTWSubmitted
    </td>
</tr>

